<br/><br/>

<%= form_tag nil, :method => 'POST', id: 'labnol' do %>
    <div class="speech">
    <% @count += 1 %>
    
    <%= text_field_tag 'answer', nil, id: 'transcript', placeholder: 'Speak' %>
    <%= hidden_field_tag(:num1, @random1) %>
    <%= hidden_field_tag(:num2, @random2) %>
    <%= hidden_field_tag(:count, @count) %>
    
    <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
    </div>
<% end %>

<br/><br/>