<%= render 'flashcard/voice_stuff' %>
<center>
    <h1>Multiplication</h1>
    <br/><br/>
<h1><%= @random1 %> * <%= @random2 %> = ?</h1>
<br/><br/>


<br/><%= @result %>
<br/><br/>

<%= form_tag multiplication_path, :method => 'POST' do %>
    <%=label_tag 'Answer' %>
    <%=text_field_tag 'answer'%>
    <%= hidden_field_tag(:num1, @random1) %>
    <%= hidden_field_tag(:num2, @random2) %>
    
    <%= submit_tag 'Submit' %>
<% end %>
<br/>
<br/><%= @category %><br/>
<%= @item %>

</center>