<%= render 'flashcard/voice_stuff' %>

<center>
    <h1>Subtraction</h1>
    <br/><br/>
<h1><%= @random1 %> - <%= @random2 %> = ?</h1>
<br/><br/>


<br/><%= @result %>

<%= render "flashcard/answer_form" %>

<%= @category %><br/>
<%= @item %>

</center>